In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=sns.load_dataset("Titanic")

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.shape

(891, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [7]:
df.isnull().mean()*100

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

In [8]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [9]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
df.drop(["alive","deck","class","embark_town","who",],axis=1,inplace=True)

In [11]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,male,22.0,1,0,7.2500,S,True,False
1,1,1,female,38.0,1,0,71.2833,C,False,False
2,1,3,female,26.0,0,0,7.9250,S,False,True
3,1,1,female,35.0,1,0,53.1000,S,False,False
4,0,3,male,35.0,0,0,8.0500,S,True,True

In [13]:
df["age"].fillna(df["age"].mean(),inplace=True)

In [14]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,male,22.0,1,0,7.2500,S,True,False
1,1,1,female,38.0,1,0,71.2833,C,False,False
2,1,3,female,26.0,0,0,7.9250,S,False,True
3,1,1,female,35.0,1,0,53.1000,S,False,False
4,0,3,male,35.0,0,0,8.0500,S,True,True

In [15]:
df.isnull().mean()*100

survived      0.000000
pclass        0.000000
sex           0.000000
age           0.000000
sibsp         0.000000
parch         0.000000
fare          0.000000
embarked      0.224467
adult_male    0.000000
alone         0.000000
dtype: float64

In [20]:
df["embarked"].fillna(df["embarked"].mode()[0],inplace=True)

In [21]:
df.isnull().mean()*100

survived      0.0
pclass        0.0
sex           0.0
age           0.0
sibsp         0.0
parch         0.0
fare          0.0
embarked      0.0
adult_male    0.0
alone         0.0
dtype: float64

In [22]:
df.rename(columns={
    "sex":"gender"
},inplace=True)

In [23]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,male,22.0,1,0,7.2500,S,True,False
1,1,1,female,38.0,1,0,71.2833,C,False,False
2,1,3,female,26.0,0,0,7.9250,S,False,True
3,1,1,female,35.0,1,0,53.1000,S,False,False
4,0,3,male,35.0,0,0,8.0500,S,True,True

In [24]:
df["gender"].unique()

array(['male', 'female'], dtype=object)

In [26]:
df["gender"].value_counts()

gender
male      577
female    314
Name: count, dtype: int64

In [27]:
df["gender"]=df["gender"].map({"male":0,"female":1})

In [28]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,0,22.0,1,0,7.2500,S,True,False
1,1,1,1,38.0,1,0,71.2833,C,False,False
2,1,3,1,26.0,0,0,7.9250,S,False,True
3,1,1,1,35.0,1,0,53.1000,S,False,False
4,0,3,0,35.0,0,0,8.0500,S,True,True

In [34]:
df["adult_male"]=df["adult_male"].astype(int)

In [35]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,0,22.0,1,0,7.2500,S,1,False
1,1,1,1,38.0,1,0,71.2833,C,0,False
2,1,3,1,26.0,0,0,7.9250,S,0,True
3,1,1,1,35.0,1,0,53.1000,S,0,False
4,0,3,0,35.0,0,0,8.0500,S,1,True

In [36]:
df["alone"]=df["alone"].astype(int)

In [37]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,adult_male,alone
0,0,3,0,22.0,1,0,7.2500,S,1,0
1,1,1,1,38.0,1,0,71.2833,C,0,0
2,1,3,1,26.0,0,0,7.9250,S,0,1
3,1,1,1,35.0,1,0,53.1000,S,0,0
4,0,3,0,35.0,0,0,8.0500,S,1,1

In [38]:
df["embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [40]:
df["embarked"].value_counts()

embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [41]:
df=pd.get_dummies(df,columns=["embarked"])

In [42]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,adult_male,alone,embarked_C,embarked_Q,embarked_S
0,0,3,0,22.0,1,0,7.2500,1,0,False,False,True
1,1,1,1,38.0,1,0,71.2833,0,0,True,False,False
2,1,3,1,26.0,0,0,7.9250,0,1,False,False,True
3,1,1,1,35.0,1,0,53.1000,0,0,False,False,True
4,0,3,0,35.0,0,0,8.0500,1,1,False,False,True

In [43]:
df.astype(int)

,survived,pclass,gender,age,sibsp,parch,fare,adult_male,alone,embarked_C,embarked_Q,embarked_S
0,0,3,0,22,1,0,7,1,0,0,0,1
1,1,1,1,38,1,0,71,0,0,1,0,0
2,1,3,1,26,0,0,7,0,1,0,0,1
3,1,1,1,35,1,0,53,0,0,0,0,1
4,0,3,0,35,0,0,8,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,27,0,0,13,1,1,0,0,1
887,1,1,1,19,0,0,30,0,1,0,0,1
888,0,3,1,29,1,2,23,0,0,0,0,1
889,1,1,0,26,0,0,30,1,1,1,0,0
890,0,3,0,32,0,0,7,1,1,0,1,0

In [44]:
df.head()

,survived,pclass,gender,age,sibsp,parch,fare,adult_male,alone,embarked_C,embarked_Q,embarked_S
0,0,3,0,22.0,1,0,7.2500,1,0,False,False,True
1,1,1,1,38.0,1,0,71.2833,0,0,True,False,False
2,1,3,1,26.0,0,0,7.9250,0,1,False,False,True
3,1,1,1,35.0,1,0,53.1000,0,0,False,False,True
4,0,3,0,35.0,0,0,8.0500,1,1,False,False,True

In [47]:
x=df.drop("survived",axis=1)
y=df["survived"]

In [50]:
from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [54]:
from sklearn.linear_model import LogisticRegression

In [67]:
model=LogisticRegression(max_iter=10000)

In [68]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=10000)

In [69]:
y_pred=model.predict(x_test)

In [70]:
from sklearn.metrics import accuracy_score

In [71]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.8100558659217877